body{
    background: linear-gradient(90deg, #7EA3EC,#04254b);
    display: flex;
    justify-content: space-between;

}

.img{
    background-color: #000000;
    border-radius: 4%;
    width: 520px;
    height: 714px;
    margin-top: 70px;
    margin-left: 70px;
    display: flex;
    justify-content: center;
    
}

.img__mando{
    margin-top: 40px;
    width: 440px;
    height: 630px;
    border-radius: 4%;

}

.img__mando:hover{
    transform: scale(1.2);

}

.txt1{
    display: flex;
    justify-content: right;

}

h1{
    background-color: #2E5478;
    border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    width: 670px;
    padding: 30px;
    margin-top: 70px;
    margin-bottom: 40PX;
    margin-right: 70px;
    display: flex;
    justify-content: center;
    color: aliceblue;

}

.txt2{
    display: flex;
    justify-content: right;
    
}

p{
    background-color: #2E5478;
    border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    width: 580px;
    padding: 75px;
    margin-top: 10px;
    margin-right: 70px;
    font-family: 'Lato', sans-serif;
    color: aliceblue;

}

.txt3{
    margin-top: 33.5px;
    margin-right: 73px;

}

.insta{
    width: 80px;
    height: 80px;

}

.insta

button{
    background-color: #2E5478;
    border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    font-family: 'Poppins', sans-serif;
    width: 329px;
    padding: 23px;
    border: 0px;
    color: aliceblue;
    display: flex;
    justify-content: space-evenly;
      
}

.txt4{
    margin-top: 33.5px;
    margin-right: 69px;

}

.face{
    width: 80px;
    height: 80px;

}

.botones{
    display: flex;
    justify-content: center;
    
}
